<div class="container mt-5">
    <div>
        <%= link_to 'javascript:history.back()' do %> <h4>
            <i class="fas fa-arrow-left"></i>Back</h4>
        <% end %>
        <h3>Group: <%= @group.name %> </h3>
    </div>
        
    <div>
        <p>Total Cost</p>
    </div>
    <div>
        <%= link_to deal_path(@group) %>
        <div>
            <div>
                <p><%= @group.name %></p>
                <p><%= @group.created_at.strftime("%Y-%m-%d") %></p>
            </div>
            <p>Price: $<%= @group.total %></p>
        </div>
            </div>
    <div>
        <%= link_to 'Add Deal', new_group_deal_path(@group), class: 'btn btn-primary'  %>
    </div>
</div>
