<div class="container app mb-5">
    <div class="text-center mb-5 mt-5 text-white h1">
        <%= link_to user_path(current_user) do %>
            <i class="fas fa-arrow-left"></i>
        <% end %>
        <h3 class="username"><%= current_user.name.capitalize %>'s Deals</h3>
    </div>
    <div class="mb-5">
        <p class="text-white text-center h3">The Total Cost Of All Deals</p>
        <p class="text-white text-center h5">$<%= @deall.sum(:amount) %></p>
    </div>
    
    <div class="mb-5">
        <p class="text-white text-center h3">The Total Number Of Deals</p>
        <p class="text-white text-center h5">$<%= @deall.count.to_i %></p>
    </div>

    <h1 class="text-white text-center">All Deals</h1>
        <% @deall.each do |d| %>
        <%= link_to d.title, deal_path(d), class: "btn btn-outline-success text-center" %>
        <% end %>

    <div class="creating mb-5">
        <%= link_to new_deal_path, class: 'btn btn-primary' do %> <h3>
            <i class="fas fa-plus"></i>Add Deal </h3>
        <% end %>
    </div>
</div>